# Introduction

Hopefully, this short tutorial can show you a lot of different commands that will help you gain the most insights into your dataset.

In [105]:
import pandas as pd
from utils import load_data_from_google_drive

# Loading in Data

The first step in any ML problem is identifying what format your data is in, and then loading it into whatever framework you're using. For Kaggle compeitions, a lot of data can be found in CSV files, so that's the example we're going to use.

We're going to be looking at a sports dataset that shows the results from NCAA basketball games from 1985 to 2016. This dataset is in a CSV file, and the function we're going to use to read in the file is called **pd.read_csv()**. This function returns a **dataframe** variable. The dataframe is the golden jewel data structure for Pandas. It is defined as "a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)".

Just think of it as a table for now.

In [106]:
df = load_data_from_google_drive(url='https://drive.google.com/file/d/184JcLbSpArA_uq0DgAv2k892KChJVPHt/view?usp=share_link')

In [107]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [108]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [109]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

We can see the dimensions of the dataframe using the the **shape** attribute

In [110]:
df.shape

(145289, 8)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [111]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [112]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [113]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [114]:
df['Wscore'].max()

186

If you'd like to find the mean of the Losing teams' score.

In [115]:
df['Lscore'].mean()

64.49700940883343

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **argmax()** function to identify the row index

In [116]:
df['Wscore'].argmax()

24970

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of games in each season

In [117]:
df['Season'].value_counts()

Season
2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: count, dtype: int64

**Q**: How many unique seasons are there in the dataset? Use the nunique() function.

In [118]:
# Write your code here
df["Season"].nunique()

32

**Q**: Find the team with the most wins. Use the value_counts() function on the Wteam column.

In [119]:
# Write your code here
# We ese value_counts on the Wteam column to count wins for each team
win_counts = df['Wteam'].value_counts()

# Find the team with the most wins
team_with_most_wins = win_counts.idxmax()
most_wins = win_counts.max()

#We print all the wins to get an overview
print(win_counts)

#This is for which id number that has the highest wins
print(team_with_most_wins)
#This is how many wins the highest id number had
print(most_wins)

Wteam
1181    819
1242    804
1246    765
1314    761
1112    746
       ...
1101     18
1446     14
1118      6
1289      6
1327      3
Name: count, Length: 364, dtype: int64
1181
819

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [120]:
df.iloc[[df['Wscore'].argmax()]]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

Let's take this a step further. Let's say you want to know the game with the highest scoring winning team (this is what we just calculated), but you then want to know how many points the losing team scored.

In [121]:
df.iloc[[df['Wscore'].argmax()]]['Lscore']

24970    140
Name: Lscore, dtype: int64

When you see data displayed in the above format, you're dealing with a Pandas **Series** object, not a dataframe object.

In [122]:
type(df.iloc[[df['Wscore'].argmax()]]['Lscore'])

pandas.core.series.Series

In [123]:
type(df.iloc[[df['Wscore'].argmax()]])

pandas.core.frame.DataFrame

The following is a summary of the 3 data structures in Pandas (Haven't ever really used Panels yet)

![](DataStructures.png)

When you want to access values in a Series, you'll want to just treat the Series like a Python dictionary, so you'd access the value according to its key (which is normally an integer index)

In [124]:
df.iloc[[df['Wscore'].argmax()]]['Lscore'][24970]

140

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [125]:
df.iloc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [126]:
df.loc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

Below is an example of how you can use loc to acheive the same task as we did previously with iloc

In [127]:
df.loc[df['Wscore'].argmax(), 'Lscore']

140

A faster version uses the **at()** function. At() is really useful wheneever you know the row label and the column label of the particular value that you want to get.

In [128]:
df.at[df['Wscore'].argmax(), 'Lscore']

140

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **iloc looks at position** and **loc looks at labels**. Loc becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [129]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

**Q**: Make three dataframes that are sorted by season, winning team, and winning score respectively. Then, Using iloc, select the rows from index 100 to 200 and the columns for season, winning team, and winning score, respectively.

In [130]:
# Write your code here
# Sorting DataFrames
import pandas as pd


# Assuming df is your DataFrame

# We create sorted DataFrames for them all 3
df_sorted_by_season = df.sort_values(by='Season')
df_sorted_by_wteam = df.sort_values(by='Wteam')
df_sorted_by_wscore = df.sort_values(by='Wscore')

# Here we select rows from index 100 to 200 and the columns for season, winning team, and winning score
subset_by_season = df_sorted_by_season.iloc[100:201][['Season', 'Wteam', 'Wscore']]
subset_by_wteam = df_sorted_by_wteam.iloc[100:201][['Season', 'Wteam', 'Wscore']]
subset_by_wscore = df_sorted_by_wscore.iloc[100:201][['Season', 'Wteam', 'Wscore']]


**Q**: From these three subsets you obtained above, find the season and winning team for the game with the highest winning score.

In [131]:
# Write your code here


# Now we can find the game with the highest winning score
max_wscore_index = subset_by_wscore['Wscore'].idxmax()
max_wscore_row = subset_by_wscore.loc[max_wscore_index]

# Extract the season and winning team
season_max_wscore = max_wscore_row['Season']
winning_team_max_wscore = max_wscore_row['Wteam']


# Print the results
print(f"Season with the highest winning score is: {season_max_wscore}")
print(f"Winning team with the highest winning score is: {winning_team_max_wscore}")

Season with the highest winning score is: 2006
Winning team with the highest winning score is: 1416

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [132]:
df[df['Wscore'] > 150]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

In [133]:
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

**Q**: Create a new column in the DataFrame called 'ScoreDifference' which is the absolute difference between the winning score and the losing score. Filter the DataFrame to only include games where the 'ScoreDifference' is greater than the average 'ScoreDifference' for all games.

In [134]:
# Write your code here
# Write your code here

import pandas as pd

# We create the 'ScoreDifference' column
df['ScoreDifference'] = abs(df['Wscore'] - df['Lscore'])

# Now we calculate the average 'ScoreDifference'
average_score_difference = df['ScoreDifference'].mean()

# and now we filter the DataFrame to only include games with 'ScoreDifference' greater than the average
filtered_df = df[df['ScoreDifference'] > average_score_difference]

# We display the filtered DataFrame
filtered_df

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference
0,1985,20,1228,81,1328,64,N,0,17
3,1985,25,1165,70,1432,54,H,0,16
6,1985,25,1228,64,1226,44,N,0,20
8,1985,25,1260,98,1133,80,H,0,18
10,1985,25,1307,103,1288,71,H,0,32
...,...,...,...,...,...,...,...,...,...
145280,2016,131,1401,71,1261,38,N,0,33
145282,2016,131,1433,76,1172,54,N,0,22
145284,2016,132,1114,70,1419,50,N,0,20
145285,2016,132,1163,72,1272,58,N,0,14
145288,2016,132,1386,87,1433,74,N,0,13

**Q**: From this filtered DataFrame, find the season and teams involved in the game with the highest 'ScoreDifference'.

In [135]:
# Write your code here

# We find the index of the row with the highest 'ScoreDifference'
max_score_difference_index = filtered_df['ScoreDifference'].idxmax()

# Now we can locate the corresponding row
game_with_highest_difference = filtered_df.loc[max_score_difference_index]

# Extract the season, winning team, and losing team
season_highest_difference = game_with_highest_difference['Season']
winning_team_highest_difference = game_with_highest_difference['Wteam']
losing_team_highest_difference = game_with_highest_difference['Lteam']

# Now we can print the results
print(f"Season with the highest ScoreDifference: {season_highest_difference}")
print(f"Winning team with the highest ScoreDifference: {winning_team_highest_difference}")
print(f"Losing team with the highest ScoreDifference: {losing_team_highest_difference}")

Season with the highest ScoreDifference: 1996
Winning team with the highest ScoreDifference: 1409
Losing team with the highest ScoreDifference: 1341

# Grouping

Another important function in Pandas is **groupby()**. This is a function that allows you to group entries by certain attributes (e.g Grouping entries by Wteam number) and then perform operations on them. The following function groups all the entries (games) with the same Wteam number and finds the mean for each group.

In [136]:
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

This next command groups all the games with the same Wteam number and finds where how many times that specific team won at home, on the road, or at a neutral site

In [137]:
df.groupby('Wteam')['Wloc'].value_counts().head(9)

Wteam  Wloc
1101   H        12
       A         3
       N         3
1102   H       204
       A        73
       N        32
1103   H       324
       A       153
       N        41
Name: count, dtype: int64

Each dataframe has a **values** attribute which is useful because it basically displays your dataframe in a numpy array style format

In [138]:
df.values

array([[1985, 20, 1228, ..., 'N', 0, 17],
       [1985, 25, 1106, ..., 'H', 0, 7],
       [1985, 25, 1112, ..., 'H', 0, 7],
       ...,
       [2016, 132, 1246, ..., 'N', 1, 5],
       [2016, 132, 1277, ..., 'N', 0, 4],
       [2016, 132, 1386, ..., 'N', 0, 13]], dtype=object)

Now, you can simply just access elements like you would in an array.

In [139]:
df.values[0][0]

1985

**Q**: Group the DataFrame by season and find the average winning score for each season.

In [140]:
# Write your code here
# We will group the DataFrame by season and calculate the average winning score for each season
average_winning_score_per_season = df.groupby('Season')['Wscore'].mean()

# Then print the result
print(average_winning_score_per_season)

Season
1985    74.723040
1986    74.813640
1987    77.993870
1988    79.773704
1989    81.728511
1990    80.846477
1991    82.733932
1992    79.992004
1993    79.508790
1994    81.160345
1995    80.096149
1996    78.205483
1997    76.300842
1998    77.229902
1999    76.043581
2000    76.310467
2001    77.088650
2002    76.963557
2003    75.795061
2004    74.971122
2005    74.693690
2006    74.587555
2007    74.829467
2008    74.962425
2009    74.033721
2010    74.652480
2011    74.374190
2012    73.379973
2013    72.840789
2014    76.101268
2015    72.680799
2016    78.295958
Name: Wscore, dtype: float64

**Q**: Group the DataFrame by winning team and find the maximum winning score for each team across all seasons.

In [141]:
# Write your code here
# Group the DataFrame by winning team and find the maximum winning score for each team across all seasons
max_winning_score_per_team = df.groupby('Wteam').apply(lambda x: x.loc[x['Wscore'].idxmax()])

# Print the result
print(max_winning_score_per_team[['Season', 'Wscore']])

       Season  Wscore
Wteam
1101     2015      95
1102     1999     111
1103     1989     109
1104     2005     114
1105     2002     114
...       ...     ...
1460     1993     136
1461     2003     112
1462     1988     125
1463     1987     105
1464     1987     115

[364 rows x 2 columns]

C:\Users\Yusuf\AppData\Local\Temp\ipykernel_22324\1401292779.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  max_winning_score_per_team = df.groupby('Wteam').apply(lambda x: x.loc[x['Wscore'].idxmax()])

**Q**: Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

In [142]:
# Write your code here

# Then group the DataFrame by both season and winning team, calculate the average winning score, and find the team with the highest average winning score for each season
team_with_highest_avg_score_per_season = df.groupby(['Season', 'Wteam'])['Wscore'].mean().reset_index().groupby('Season').apply(lambda x: x.loc[x['Wscore'].idxmax()])

# Then print the result
print(team_with_highest_avg_score_per_season[['Wteam', 'Wscore']])

         Wteam      Wscore
Season
1985    1328.0   92.800000
1986    1109.0   91.200000
1987    1380.0   95.875000
1988    1258.0  111.750000
1989    1258.0  117.315789
1990    1258.0  126.347826
1991    1380.0  112.312500
1992    1380.0   99.642857
1993    1380.0  101.875000
1994    1380.0  106.583333
1995    1206.0  102.833333
1996    1206.0  103.600000
1997    1254.0   94.142857
1998    1395.0  101.153846
1999    1317.0   95.750000
2000    1395.0   95.647059
2001    1395.0   99.315789
2002    1242.0   92.888889
2003    1395.0   88.222222
2004    1194.0   92.142857
2005    1311.0   91.333333
2006    1190.0   89.533333
2007    1440.0   99.400000
2008    1440.0   94.500000
2009    1377.0   96.200000
2010    1440.0   95.000000
2011    1449.0   90.130435
2012    1370.0   87.400000
2013    1377.0   86.500000
2014    1322.0   92.600000
2015    1322.0   90.733333
2016    1146.0   97.142857

C:\Users\Yusuf\AppData\Local\Temp\ipykernel_22324\1324789433.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  team_with_highest_avg_score_per_season = df.groupby(['Season', 'Wteam'])['Wscore'].mean().reset_index().groupby('Season').apply(lambda x: x.loc[x['Wscore'].idxmax()])

**Q**: Create a new DataFrame that counts the number of wins for each team in each season. This will involve grouping by both season and winning team, and then using the count() function.

In [143]:
# Write your code here
# Group the DataFrame by both season and winning team and count the number of wins
wins_per_team_per_season = df.groupby(['Season', 'Wteam']).size().reset_index(name='Wins')

# Print the result
print(wins_per_team_per_season)

       Season  Wteam  Wins
0        1985   1102     5
1        1985   1103     9
2        1985   1104    21
3        1985   1106    10
4        1985   1108    19
...       ...    ...   ...
10167    2016   1460    20
10168    2016   1461    12
10169    2016   1462    27
10170    2016   1463    21
10171    2016   1464     9

[10172 rows x 3 columns]

**Q**: For each season, find the team with the most wins. This will involve creating a DataFrame similar to the one in task 5, and then using the idxmax() function for each season.

In [144]:
# Write your code here

# We group the DataFrame by both season and winning team and count the number of wins
wins_per_team_per_season = df.groupby(['Season', 'Wteam']).size().reset_index(name='Wins')

# Now find the index of the team with the most wins for each season
index_of_most_wins_per_season = wins_per_team_per_season.groupby('Season')['Wins'].idxmax()

# We can now get the team with the most wins for each season
team_with_most_wins_per_season = wins_per_team_per_season.loc[index_of_most_wins_per_season]

# We print the result
print(team_with_most_wins_per_season)

      Season  Wteam  Wins
217     1985   1385    27
342     1986   1181    32
818     1987   1424    33
861     1988   1112    31
1323    1989   1328    28
1551    1990   1247    29
1739    1991   1116    30
2088    1992   1181    28
2423    1993   1231    28
2665    1994   1163    27
2928    1995   1116    26
3357    1996   1269    31
3638    1997   1242    31
3943    1998   1242    33
4201    1999   1181    32
4709    2000   1409    29
4829    2001   1181    29
5121    2002   1153    30
5456    2003   1166    29
5981    2004   1390    29
6165    2005   1228    32
6452    2006   1181    30
6841    2007   1242    30
7209    2008   1272    33
7552    2009   1272    31
7870    2010   1242    32
8217    2011   1242    32
8565    2012   1246    32
8878    2013   1211    30
9462    2014   1455    33
9609    2015   1246    34
9955    2016   1242    29

**Q**: Group the DataFrame by losing team and find the average losing score for each team across all seasons. Compare this with the average winning score for each team from task 3. Are there teams that have a higher average losing score than winning score?

In [145]:
# Write your code here
# We group the DataFrame by losing team and find the average losing score for each team across all seasons
average_losing_score_per_team = df.groupby('Lteam')['Lscore'].mean()

# We will now compare the average losing score with the average winning score for each team, to see the difference 
for team in df['Wteam'].unique():
    if team in average_losing_score_per_team.index:
        avg_winning_score = df[df['Wteam'] == team]['Wscore'].mean()
        avg_losing_score = average_losing_score_per_team[team]
        
        print(f"Team: {team}")
        print(f"Average Winning Score: {avg_winning_score}")
        print(f"Average Losing Score: {avg_losing_score}")
        
        if avg_losing_score > avg_winning_score:
            print("This team has a higher average losing score than winning score.")
        else:
            print("This team does not have a higher average losing score than winning score.")
        print()

Team: 1228
Average Winning Score: 77.56666666666666
Average Losing Score: 63.4789156626506
This team does not have a higher average losing score than winning score.

Team: 1106
Average Winning Score: 76.63451776649747
Average Losing Score: 66.28416485900217
This team does not have a higher average losing score than winning score.

Team: 1112
Average Winning Score: 82.21983914209115
Average Losing Score: 70.05531914893616
This team does not have a higher average losing score than winning score.

Team: 1165
Average Winning Score: 73.29131652661064
Average Losing Score: 61.121848739495796
This team does not have a higher average losing score than winning score.

Team: 1192
Average Winning Score: 76.31529411764706
Average Losing Score: 64.92753623188406
This team does not have a higher average losing score than winning score.

Team: 1218
Average Winning Score: 76.33744855967078
Average Losing Score: 65.96629213483146
This team does not have a higher average losing score than winning score.

Team: 1242
Average Winning Score: 82.52611940298507
Average Losing Score: 68.58730158730158
This team does not have a higher average losing score than winning score.

Team: 1260
Average Winning Score: 75.85639686684073
Average Losing Score: 63.792843691148775
This team does not have a higher average losing score than winning score.

Team: 1305
Average Winning Score: 78.48814229249012
Average Losing Score: 67.89663461538461
This team does not have a higher average losing score than winning score.

Team: 1307
Average Winning Score: 77.42229199372056
Average Losing Score: 65.23795180722891
This team does not have a higher average losing score than winning score.

Team: 1344
Average Winning Score: 79.69142857142857
Average Losing Score: 68.60798122065728
This team does not have a higher average losing score than winning score.

Team: 1374
Average Winning Score: 75.0901287553648
Average Losing Score: 63.38
This team does not have a higher average losing score than winning score.

Team: 1412
Average Winning Score: 76.63299663299664
Average Losing Score: 65.80978260869566
This team does not have a higher average losing score than winning score.

Team: 1417
Average Winning Score: 80.35114503816794
Average Losing Score: 69.09003215434083
This team does not have a higher average losing score than winning score.

Team: 1116
Average Winning Score: 84.5216
Average Losing Score: 67.21971830985916
This team does not have a higher average losing score than winning score.

Team: 1120
Average Winning Score: 78.15856236786469
Average Losing Score: 66.26997840172787
This team does not have a higher average losing score than winning score.

Team: 1135
Average Winning Score: 74.85403726708074
Average Losing Score: 61.9352380952381
This team does not have a higher average losing score than winning score.

Team: 1143
Average Winning Score: 77.1774193548387
Average Losing Score: 65.95886889460154
This team does not have a higher average losing score than winning score.

Team: 1153
Average Winning Score: 76.8021472392638
Average Losing Score: 64.13207547169812
This team does not have a higher average losing score than winning score.

Team: 1171
Average Winning Score: 71.32107023411372
Average Losing Score: 58.85094339622641
This team does not have a higher average losing score than winning score.

Team: 1173
Average Winning Score: 75.3001808318264
Average Losing Score: 65.17444717444718
This team does not have a higher average losing score than winning score.

Team: 1177
Average Winning Score: 77.21786492374727
Average Losing Score: 64.21532091097309
This team does not have a higher average losing score than winning score.

Team: 1193
Average Winning Score: 72.77397260273973
Average Losing Score: 63.62103174603175
This team does not have a higher average losing score than winning score.

Team: 1196
Average Winning Score: 79.09937888198758
Average Losing Score: 66.91097922848665
This team does not have a higher average losing score than winning score.

Team: 1206
Average Winning Score: 75.9820717131474
Average Losing Score: 67.40137614678899
This team does not have a higher average losing score than winning score.

Team: 1210
Average Winning Score: 79.79417122040073
Average Losing Score: 66.29550827423168
This team does not have a higher average losing score than winning score.

Team: 1211
Average Winning Score: 79.4524886877828
Average Losing Score: 66.71317829457364
This team does not have a higher average losing score than winning score.

Team: 1234
Average Winning Score: 79.34827586206896
Average Losing Score: 66.25773195876289
This team does not have a higher average losing score than winning score.

Team: 1243
Average Winning Score: 76.03461538461538
Average Losing Score: 64.41769041769042
This team does not have a higher average losing score than winning score.

Team: 1257
Average Winning Score: 80.14516129032258
Average Losing Score: 66.23397435897436
This team does not have a higher average losing score than winning score.

Team: 1277
Average Winning Score: 76.34482758620689
Average Losing Score: 64.93979933110369
This team does not have a higher average losing score than winning score.

Team: 1278
Average Winning Score: 77.24466019417476
Average Losing Score: 63.812933025404156
This team does not have a higher average losing score than winning score.

Team: 1286
Average Winning Score: 78.94162436548223
Average Losing Score: 66.34792122538293
This team does not have a higher average losing score than winning score.

Team: 1301
Average Winning Score: 79.37096774193549
Average Losing Score: 66.16389548693587
This team does not have a higher average losing score than winning score.

Team: 1325
Average Winning Score: 76.26987060998151
Average Losing Score: 65.94763092269326
This team does not have a higher average losing score than winning score.

Team: 1326
Average Winning Score: 77.2379421221865
Average Losing Score: 65.73121387283237
This team does not have a higher average losing score than winning score.

Team: 1328
Average Winning Score: 84.63595839524517
Average Losing Score: 68.63728813559322
This team does not have a higher average losing score than winning score.

Team: 1339
Average Winning Score: 74.58132530120481
Average Losing Score: 65.13528336380256
This team does not have a higher average losing score than winning score.

Team: 1365
Average Winning Score: 73.06521739130434
Average Losing Score: 63.67785234899329
This team does not have a higher average losing score than winning score.

Team: 1375
Average Winning Score: 77.62446351931331
Average Losing Score: 65.17209302325581
This team does not have a higher average losing score than winning score.

Team: 1397
Average Winning Score: 78.82051282051282
Average Losing Score: 66.36450839328538
This team does not have a higher average losing score than winning score.

Team: 1403
Average Winning Score: 78.63179916317992
Average Losing Score: 64.53796095444686
This team does not have a higher average losing score than winning score.

Team: 1423
Average Winning Score: 71.98513800424628
Average Losing Score: 61.643478260869564
This team does not have a higher average losing score than winning score.

Team: 1429
Average Winning Score: 75.17597292724196
Average Losing Score: 68.52802359882006
This team does not have a higher average losing score than winning score.

Team: 1437
Average Winning Score: 77.362480127186
Average Losing Score: 65.86440677966101
This team does not have a higher average losing score than winning score.

Team: 1438
Average Winning Score: 75.75
Average Losing Score: 64.18229166666667
This team does not have a higher average losing score than winning score.

Team: 1439
Average Winning Score: 76.80833333333334
Average Losing Score: 64.86480686695279
This team does not have a higher average losing score than winning score.

Team: 1443
Average Winning Score: 77.07678883071553
Average Losing Score: 67.59891598915989
This team does not have a higher average losing score than winning score.

Team: 1455
Average Winning Score: 74.11481481481482
Average Losing Score: 61.5012285012285
This team does not have a higher average losing score than winning score.

Team: 1241
Average Winning Score: 75.71397379912663
Average Losing Score: 63.94214876033058
This team does not have a higher average losing score than winning score.

Team: 1268
Average Winning Score: 81.73553719008264
Average Losing Score: 69.37912087912088
This team does not have a higher average losing score than winning score.

Team: 1314
Average Winning Score: 84.89881734559789
Average Losing Score: 71.60240963855422
This team does not have a higher average losing score than winning score.

Team: 1323
Average Winning Score: 78.0
Average Losing Score: 65.81095890410958
This team does not have a higher average losing score than winning score.

Team: 1458
Average Winning Score: 71.83865546218487
Average Losing Score: 61.061797752808985
This team does not have a higher average losing score than winning score.

Team: 1104
Average Winning Score: 75.82594417077176
Average Losing Score: 64.3743169398907
This team does not have a higher average losing score than winning score.

Team: 1152
Average Winning Score: 78.3609756097561
Average Losing Score: 64.96818181818182
This team does not have a higher average losing score than winning score.

Team: 1160
Average Winning Score: 79.60496613995485
Average Losing Score: 66.77113402061856
This team does not have a higher average losing score than winning score.

Team: 1181
Average Winning Score: 84.62515262515262
Average Losing Score: 72.97422680412372
This team does not have a higher average losing score than winning score.

Team: 1186
Average Winning Score: 77.78048780487805
Average Losing Score: 65.12859884836853
This team does not have a higher average losing score than winning score.

Team: 1247
Average Winning Score: 78.07578947368421
Average Losing Score: 64.82478632478633
This team does not have a higher average losing score than winning score.

Team: 1249
Average Winning Score: 78.92368421052632
Average Losing Score: 66.45030425963489
This team does not have a higher average losing score than winning score.

Team: 1276
Average Winning Score: 78.4010067114094
Average Losing Score: 63.611570247933884
This team does not have a higher average losing score than winning score.

Team: 1338
Average Winning Score: 77.8220064724919
Average Losing Score: 65.6686046511628
This team does not have a higher average losing score than winning score.

Team: 1368
Average Winning Score: 74.41016949152542
Average Losing Score: 63.69200779727095
This team does not have a higher average losing score than winning score.

Team: 1376
Average Winning Score: 75.8734439834025
Average Losing Score: 63.3866090712743
This team does not have a higher average losing score than winning score.

Team: 1378
Average Winning Score: 74.80195599022005
Average Losing Score: 61.36053130929791
This team does not have a higher average losing score than winning score.

Team: 1391
Average Winning Score: 76.47507331378299
Average Losing Score: 65.19516728624535
This team does not have a higher average losing score than winning score.

Team: 1396
Average Winning Score: 71.97865853658537
Average Losing Score: 62.21052631578947
This team does not have a higher average losing score than winning score.

Team: 1398
Average Winning Score: 76.49375
Average Losing Score: 67.59272727272727
This team does not have a higher average losing score than winning score.

Team: 1399
Average Winning Score: 79.70175438596492
Average Losing Score: 69.11062906724511
This team does not have a higher average losing score than winning score.

Team: 1428
Average Winning Score: 73.97292724196278
Average Losing Score: 61.98235294117647
This team does not have a higher average losing score than winning score.

Team: 1448
Average Winning Score: 77.66044776119404
Average Losing Score: 66.30170316301704
This team does not have a higher average losing score than winning score.

Team: 1464
Average Winning Score: 73.92605633802818
Average Losing Score: 65.18706293706293
This team does not have a higher average losing score than winning score.

Team: 1124
Average Winning Score: 78.67903930131004
Average Losing Score: 65.86830357142857
This team does not have a higher average losing score than winning score.

Team: 1130
Average Winning Score: 77.77235772357723
Average Losing Score: 64.61655773420479
This team does not have a higher average losing score than winning score.

Team: 1200
Average Winning Score: 74.54166666666667
Average Losing Score: 62.37366548042704
This team does not have a higher average losing score than winning score.

Team: 1204
Average Winning Score: 76.8537170263789
Average Losing Score: 64.96629213483146
This team does not have a higher average losing score than winning score.

Team: 1233
Average Winning Score: 78.60957642725599
Average Losing Score: 68.22946859903382
This team does not have a higher average losing score than winning score.

Team: 1246
Average Winning Score: 80.07058823529412
Average Losing Score: 68.67521367521367
This team does not have a higher average losing score than winning score.

Team: 1280
Average Winning Score: 76.53846153846153
Average Losing Score: 63.54929577464789
This team does not have a higher average losing score than winning score.

Team: 1308
Average Winning Score: 77.98776223776224
Average Losing Score: 66.42424242424242
This team does not have a higher average losing score than winning score.

Team: 1337
Average Winning Score: 77.39194915254237
Average Losing Score: 66.04
This team does not have a higher average losing score than winning score.

Team: 1348
Average Winning Score: 78.64406779661017
Average Losing Score: 64.7725321888412
This team does not have a higher average losing score than winning score.

Team: 1373
Average Winning Score: 79.01102941176471
Average Losing Score: 67.3128078817734
This team does not have a higher average losing score than winning score.

Team: 1379
Average Winning Score: 75.93478260869566
Average Losing Score: 64.47018348623853
This team does not have a higher average losing score than winning score.

Team: 1409
Average Winning Score: 75.51324503311258
Average Losing Score: 65.73204419889503
This team does not have a higher average losing score than winning score.

Team: 1444
Average Winning Score: 75.3741794310722
Average Losing Score: 65.45315904139433
This team does not have a higher average losing score than winning score.

Team: 1451
Average Winning Score: 78.97975708502024
Average Losing Score: 65.95698924731182
This team does not have a higher average losing score than winning score.

Team: 1139
Average Winning Score: 72.66151202749141
Average Losing Score: 63.86510263929619
This team does not have a higher average losing score than winning score.

Team: 1154
Average Winning Score: 74.52529182879377
Average Losing Score: 62.705150976909415
This team does not have a higher average losing score than winning score.

Team: 1229
Average Winning Score: 72.9054820415879
Average Losing Score: 62.38625592417062
This team does not have a higher average losing score than winning score.

Team: 1259
Average Winning Score: 75.25698324022346
Average Losing Score: 64.02702702702703
This team does not have a higher average losing score than winning score.

Team: 1261
Average Winning Score: 79.97247706422019
Average Losing Score: 65.79075425790754
This team does not have a higher average losing score than winning score.

Team: 1272
Average Winning Score: 78.88150289017341
Average Losing Score: 67.45333333333333
This team does not have a higher average losing score than winning score.

Team: 1273
Average Winning Score: 77.66141732283465
Average Losing Score: 65.0757281553398
This team does not have a higher average losing score than winning score.

Team: 1318
Average Winning Score: 75.41544885177453
Average Losing Score: 65.13390928725703
This team does not have a higher average losing score than winning score.

Team: 1330
Average Winning Score: 74.23758865248227
Average Losing Score: 65.0
This team does not have a higher average losing score than winning score.

Team: 1360
Average Winning Score: 74.70023419203747
Average Losing Score: 63.642857142857146
This team does not have a higher average losing score than winning score.

Team: 1388
Average Winning Score: 75.9703557312253
Average Losing Score: 62.48081841432225
This team does not have a higher average losing score than winning score.

Team: 1393
Average Winning Score: 79.92547425474255
Average Losing Score: 67.67843137254901
This team does not have a higher average losing score than winning score.

Team: 1419
Average Winning Score: 78.8997668997669
Average Losing Score: 63.4989247311828
This team does not have a higher average losing score than winning score.

Team: 1447
Average Winning Score: 77.52470588235295
Average Losing Score: 66.25941422594143
This team does not have a higher average losing score than winning score.

Team: 1161
Average Winning Score: 75.27196652719665
Average Losing Score: 63.2271662763466
This team does not have a higher average losing score than winning score.

Team: 1298
Average Winning Score: 76.38613861386139
Average Losing Score: 62.183673469387756
This team does not have a higher average losing score than winning score.

Team: 1332
Average Winning Score: 78.50196850393701
Average Losing Score: 66.87589498806683
This team does not have a higher average losing score than winning score.

Team: 1347
Average Winning Score: 77.40987654320988
Average Losing Score: 64.20309050772627
This team does not have a higher average losing score than winning score.

Team: 1353
Average Winning Score: 74.7925925925926
Average Losing Score: 63.56928838951311
This team does not have a higher average losing score than winning score.

Team: 1359
Average Winning Score: 72.08465608465609
Average Losing Score: 61.203629032258064
This team does not have a higher average losing score than winning score.

Team: 1361
Average Winning Score: 74.0
Average Losing Score: 64.77404921700224
This team does not have a higher average losing score than winning score.

Team: 1386
Average Winning Score: 74.83150183150182
Average Losing Score: 65.28155339805825
This team does not have a higher average losing score than winning score.

Team: 1400
Average Winning Score: 80.87423312883436
Average Losing Score: 70.15151515151516
This team does not have a higher average losing score than winning score.

Team: 1433
Average Winning Score: 76.16339869281046
Average Losing Score: 66.51790633608816
This team does not have a higher average losing score than winning score.

Team: 1102
Average Winning Score: 69.89320388349515
Average Losing Score: 59.2015065913371
This team does not have a higher average losing score than winning score.

Team: 1111
Average Winning Score: 77.82968369829683
Average Losing Score: 66.70752688172043
This team does not have a higher average losing score than winning score.

Team: 1119
Average Winning Score: 72.3886925795053
Average Losing Score: 60.0034188034188
This team does not have a higher average losing score than winning score.

Team: 1149
Average Winning Score: 76.34375
Average Losing Score: 64.60714285714286
This team does not have a higher average losing score than winning score.

Team: 1151
Average Winning Score: 77.29239766081871
Average Losing Score: 67.07253886010362
This team does not have a higher average losing score than winning score.

Team: 1155
Average Winning Score: 77.24299065420561
Average Losing Score: 64.99759036144579
This team does not have a higher average losing score than winning score.

Team: 1185
Average Winning Score: 75.73399014778325
Average Losing Score: 63.66599190283401
This team does not have a higher average losing score than winning score.

Team: 1201
Average Winning Score: 76.00607287449392
Average Losing Score: 64.83002207505518
This team does not have a higher average losing score than winning score.

Team: 1212
Average Winning Score: 78.81404958677686
Average Losing Score: 64.02016806722689
This team does not have a higher average losing score than winning score.

Team: 1267
Average Winning Score: 80.45572354211663
Average Losing Score: 68.27578475336323
This team does not have a higher average losing score than winning score.

Team: 1292
Average Winning Score: 76.8200408997955
Average Losing Score: 65.07268170426065
This team does not have a higher average losing score than winning score.

Team: 1319
Average Winning Score: 77.0672268907563
Average Losing Score: 65.12962962962963
This team does not have a higher average losing score than winning score.

Team: 1320
Average Winning Score: 72.93096234309624
Average Losing Score: 62.6
This team does not have a higher average losing score than winning score.

Team: 1371
Average Winning Score: 77.93834296724471
Average Losing Score: 65.46838407494145
This team does not have a higher average losing score than winning score.

Team: 1382
Average Winning Score: 75.82089552238806
Average Losing Score: 64.8984375
This team does not have a higher average losing score than winning score.

Team: 1385
Average Winning Score: 74.71639042357275
Average Losing Score: 64.65936739659368
This team does not have a higher average losing score than winning score.

Team: 1390
Average Winning Score: 77.14890016920474
Average Losing Score: 66.27272727272727
This team does not have a higher average losing score than winning score.

Team: 1402
Average Winning Score: 76.71513353115726
Average Losing Score: 66.04509803921569
This team does not have a higher average losing score than winning score.

Team: 1425
Average Winning Score: 77.56382978723404
Average Losing Score: 65.41772151898734
This team does not have a higher average losing score than winning score.

Team: 1435
Average Winning Score: 78.89483065953654
Average Losing Score: 65.5025
This team does not have a higher average losing score than winning score.

Team: 1441
Average Winning Score: 76.69811320754717
Average Losing Score: 66.72201492537313
This team does not have a higher average losing score than winning score.

Team: 1449
Average Winning Score: 79.0970297029703
Average Losing Score: 66.4364896073903
This team does not have a higher average losing score than winning score.

Team: 1103
Average Winning Score: 75.83976833976834
Average Losing Score: 64.11734693877551
This team does not have a higher average losing score than winning score.

Team: 1122
Average Winning Score: 77.9771167048055
Average Losing Score: 67.95493562231759
This team does not have a higher average losing score than winning score.

Team: 1123
Average Winning Score: 74.56184486373165
Average Losing Score: 62.58508158508158
This team does not have a higher average losing score than winning score.

Team: 1129
Average Winning Score: 74.70689655172414
Average Losing Score: 63.602597402597404
This team does not have a higher average losing score than winning score.

Team: 1140
Average Winning Score: 80.0701754385965
Average Losing Score: 68.3076923076923
This team does not have a higher average losing score than winning score.

Team: 1141
Average Winning Score: 75.09968847352025
Average Losing Score: 63.8529945553539
This team does not have a higher average losing score than winning score.

Team: 1156
Average Winning Score: 76.3630289532294
Average Losing Score: 63.80709534368071
This team does not have a higher average losing score than winning score.

Team: 1174
Average Winning Score: 76.16849015317287
Average Losing Score: 65.01535087719299
This team does not have a higher average losing score than winning score.

Team: 1183
Average Winning Score: 75.51351351351352
Average Losing Score: 64.02594810379242
This team does not have a higher average losing score than winning score.

Team: 1202
Average Winning Score: 74.89473684210526
Average Losing Score: 63.13424124513619
This team does not have a higher average losing score than winning score.

Team: 1203
Average Winning Score: 78.0
Average Losing Score: 65.37825059101655
This team does not have a higher average losing score than winning score.

Team: 1222
Average Winning Score: 78.79460580912863
Average Losing Score: 66.91294642857143
This team does not have a higher average losing score than winning score.

Team: 1227
Average Winning Score: 76.5281173594132
Average Losing Score: 64.41929133858268
This team does not have a higher average losing score than winning score.

Team: 1231
Average Winning Score: 80.53565768621236
Average Losing Score: 64.28994082840237
This team does not have a higher average losing score than winning score.

Team: 1235
Average Winning Score: 79.7059891107078
Average Losing Score: 67.81203007518798
This team does not have a higher average losing score than winning score.

Team: 1238
Average Winning Score: 75.50242718446601
Average Losing Score: 65.00590551181102
This team does not have a higher average losing score than winning score.

Team: 1239
Average Winning Score: 77.57441253263707
Average Losing Score: 66.65354330708661
This team does not have a higher average losing score than winning score.

Team: 1248
Average Winning Score: 75.77634961439588
Average Losing Score: 64.84812623274162
This team does not have a higher average losing score than winning score.

Team: 1256
Average Winning Score: 76.41098484848484
Average Losing Score: 62.17632241813602
This team does not have a higher average losing score than winning score.

Team: 1258
Average Winning Score: 86.76420454545455
Average Losing Score: 67.48534798534799
This team does not have a higher average losing score than winning score.

Team: 1264
Average Winning Score: 75.49342105263158
Average Losing Score: 63.58050847457627

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [146]:
for index, row in df.iterrows():
    print(row)
    if index == 1:
        break

Season             1985
Daynum               20
Wteam              1228
Wscore               81
Lteam              1328
Lscore               64
Wloc                  N
Numot                 0
ScoreDifference      17
Name: 0, dtype: object
Season             1985
Daynum               25
Wteam              1106
Wscore               77
Lteam              1354
Lscore               70
Wloc                  H
Numot                 0
ScoreDifference       7
Name: 1, dtype: object

**Q**: Create a new column 'HighScoringGame' that is 'Yes' if the winning score is greater than 100 and 'No' otherwise. This will require iterating over the rows of the DataFrame and checking the value of the winning score for each row.

In [147]:
# Write your code here
# Iterate over the rows of the DataFrame and set 'HighScoringGame' based on the winning score
for index, row in df.iterrows():
    if row['Wscore'] > 100:
        df.at[index, 'HighScoringGame'] = 'Yes'
    else:
        df.at[index, 'HighScoringGame'] = 'No'

# Print the result
print(df[['Wscore', 'HighScoringGame']])

        Wscore HighScoringGame
0           81              No
1           77              No
2           63              No
3           70              No
4           86              No
...        ...             ...
145284      70              No
145285      72              No
145286      82              No
145287      66              No
145288      87              No

[145289 rows x 2 columns]

**Q**: Calculate the total number of games played by each team, whether they won or lost. This will require iterating over the rows of the DataFrame and updating a dictionary that keeps track of the number of games for each team.

In [148]:
# Write your code here

# Initialize an empty dictionary to keep track of the number of games for each team
games_played = {}

# Iterate over the rows of the DataFrame and update the dictionary
for index, row in df.iterrows():
    # Update the number of games for the winning team
    if row['Wteam'] in games_played:
        games_played[row['Wteam']] += 1
    else:
        games_played[row['Wteam']] = 1
    
    # Update the number of games for the losing team
    if row['Lteam'] in games_played:
        games_played[row['Lteam']] += 1
    else:
        games_played[row['Lteam']] = 1

# Print the result
for team, num_games in games_played.items():
    print(f"Team: {team}, Total Games Played: {num_games}")

Team: 1228, Total Games Played: 992
Team: 1328, Total Games Played: 968
Team: 1106, Total Games Played: 855
Team: 1354, Total Games Played: 906
Team: 1112, Total Games Played: 981
Team: 1223, Total Games Played: 363
Team: 1165, Total Games Played: 833
Team: 1432, Total Games Played: 69
Team: 1192, Total Games Played: 908
Team: 1447, Total Games Played: 903
Team: 1218, Total Games Played: 931
Team: 1337, Total Games Played: 922
Team: 1226, Total Games Played: 847
Team: 1242, Total Games Played: 993
Team: 1268, Total Games Played: 969
Team: 1260, Total Games Played: 914
Team: 1133, Total Games Played: 949
Team: 1305, Total Games Played: 922
Team: 1424, Total Games Played: 974
Team: 1307, Total Games Played: 969
Team: 1288, Total Games Played: 925
Team: 1344, Total Games Played: 951
Team: 1438, Total Games Played: 952
Team: 1374, Total Games Played: 916
Team: 1411, Total Games Played: 903
Team: 1412, Total Games Played: 962
Team: 1397, Total Games Played: 963
Team: 1417, Total Games Played: 966
Team: 1225, Total Games Played: 880
Team: 1116, Total Games Played: 980
Team: 1368, Total Games Played: 808
Team: 1120, Total Games Played: 936
Team: 1391, Total Games Played: 879
Team: 1135, Total Games Played: 847
Team: 1306, Total Games Played: 898
Team: 1143, Total Games Played: 947
Team: 1388, Total Games Played: 897
Team: 1153, Total Games Played: 970
Team: 1184, Total Games Played: 863
Team: 1159, Total Games Played: 887
Team: 1171, Total Games Played: 829
Team: 1216, Total Games Played: 930
Team: 1173, Total Games Played: 960
Team: 1134, Total Games Played: 200
Team: 1177, Total Games Played: 942
Team: 1296, Total Games Played: 879
Team: 1193, Total Games Played: 942
Team: 1265, Total Games Played: 934
Team: 1196, Total Games Played: 981
Team: 1416, Total Games Played: 881
Team: 1206, Total Games Played: 938
Team: 1137, Total Games Played: 912
Team: 1210, Total Games Played: 972
Team: 1149, Total Games Played: 824
Team: 1211, Total Games Played: 921
Team: 1102, Total Games Played: 840
Team: 1234, Total Games Played: 968
Team: 1114, Total Games Played: 910
Team: 1332, Total Games Played: 927
Team: 1243, Total Games Played: 927
Team: 1317, Total Games Played: 883
Team: 1257, Total Games Played: 994
Team: 1231, Total Games Played: 969
Team: 1277, Total Games Played: 966
Team: 1145, Total Games Played: 934
Team: 1278, Total Games Played: 948
Team: 1453, Total Games Played: 912
Team: 1286, Total Games Played: 851
Team: 1186, Total Games Played: 849
Team: 1301, Total Games Played: 979
Team: 1144, Total Games Played: 850
Team: 1325, Total Games Played: 942
Team: 1384, Total Games Played: 887
Team: 1326, Total Games Played: 968
Team: 1248, Total Games Played: 896
Team: 1287, Total Games Played: 857
Team: 1339, Total Games Played: 879
Team: 1334, Total Games Played: 899
Team: 1365, Total Games Played: 907
Team: 1375, Total Games Played: 896
Team: 1126, Total Games Played: 906
Team: 1403, Total Games Played: 939
Team: 1152, Total Games Played: 865
Team: 1423, Total Games Played: 931
Team: 1347, Total Games Played: 858
Team: 1429, Total Games Played: 930
Team: 1428, Total Games Played: 931
Team: 1437, Total Games Played: 983
Team: 1436, Total Games Played: 911
Team: 1172, Total Games Played: 879
Team: 1439, Total Games Played: 946
Team: 1330, Total Games Played: 963
Team: 1443, Total Games Played: 942
Team: 1121, Total Games Played: 175
Team: 1455, Total Games Played: 947
Team: 1249, Total Games Played: 873
Team: 1241, Total Games Played: 942
Team: 1440, Total Games Played: 825
Team: 1314, Total Games Played: 1010
Team: 1200, Total Games Played: 922
Team: 1323, Total Games Played: 950
Team: 1264, Total Games Played: 928
Team: 1458, Total Games Played: 951
Team: 1104, Total Games Played: 975
Team: 1160, Total Games Played: 928
Team: 1414, Total Games Played: 922
Team: 1181, Total Games Played: 1013
Team: 1387, Total Games Played: 956
Team: 1183, Total Games Played: 871
Team: 1247, Total Games Played: 943
Team: 1284, Total Games Played: 932
Team: 1402, Total Games Played: 847
Team: 1276, Total Games Played: 959
Team: 1178, Total Games Played: 920
Team: 1364, Total Games Played: 890
Team: 1338, Total Games Played: 962
Team: 1290, Total Games Played: 875
Team: 1376, Total Games Played: 945
Team: 1378, Total Games Played: 936
Team: 1202, Total Games Played: 856
Team: 1396, Total Games Played: 979
Team: 1180, Total Games Played: 930
Team: 1398, Total Games Played: 870
Team: 1399, Total Games Played: 860
Team: 1155, Total Games Played: 950
Team: 1258, Total Games Played: 898
Team: 1448, Total Games Played: 947
Team: 1464, Total Games Played: 856
Team: 1124, Total Games Played: 906
Team: 1341, Total Games Played: 857
Team: 1130, Total Games Played: 951
Team: 1254, Total Games Played: 898
Team: 1204, Total Games Played: 862
Team: 1151, Total Games Played: 899
Team: 1233, Total Games Played: 957
Team: 1220, Total Games Played: 933
Team: 1246, Total Games Played: 999
Team: 1405, Total Games Played: 921
Team: 1280, Total Games Played: 946
Team: 1238, Total Games Played: 920
Team: 1308, Total Games Played: 935
Team: 1431, Total Games Played: 937
Team: 1253, Total Games Played: 915
Team: 1363, Total Games Played: 889
Team: 1348, Total Games Played: 938
Team: 1373, Total Games Played: 950
Team: 1379, Total Games Played: 896
Team: 1270, Total Games Played: 861
Team: 1409, Total Games Played: 966
Team: 1331, Total Games Played: 809
Team: 1444, Total Games Played: 916
Team: 1434, Total Games Played: 902
Team: 1451, Total Games Played: 866
Team: 1139, Total Games Played: 923
Team: 1442, Total Games Played: 840
Team: 1154, Total Games Played: 820
Team: 1456, Total Games Played: 891
Team: 1229, Total Games Played: 951
Team: 1227, Total Games Played: 917
Team: 1259, Total Games Played: 913
Team: 1406, Total Games Played: 926
Team: 1261, Total Games Played: 956
Team: 1272, Total Games Played: 992
Team: 1117, Total Games Played: 891
Team: 1273, Total Games Played: 896
Team: 1163, Total Games Played: 977
Team: 1318, Total Games Played: 942
Team: 1360, Total Games Played: 889
Team: 1393, Total Games Played: 993
Team: 1419, Total Games Played: 894
Team: 1418, Total Games Played: 912
Team: 1281, Total Games Played: 977
Team: 1161, Total Games Played: 905
Team: 1109, Total Games Played: 169
Team: 1309, Total Games Played: 840
Team: 1298, Total Games Played: 894
Team: 1321, Total Games Played: 912
Team: 1285, Total Games Played: 865
Team: 1271, Total Games Played: 887
Team: 1353, Total Games Played: 939
Team: 1351, Total Games Played: 929
Team: 1359, Total Games Played: 874
Team: 1267, Total Games Played: 909
Team: 1361, Total Games Played: 915
Team: 1386, Total Games Played: 958
Team: 1400, Total Games Played: 982
Team: 1322, Total Games Played: 854
Team: 1433, Total Games Played: 975
Team: 1187, Total Games Played: 861
Team: 1245, Total Games Played: 927
Team: 1111, Total Games Played: 876
Team: 1150, Total Games Played: 942
Team: 1119, Total Games Played: 868
Team: 1141, Total Games Played: 872
Team: 1221, Total Games Played: 929
Team: 1122, Total Games Played: 903
Team: 1185, Total Games Played: 900
Team: 1199, Total Games Played: 949
Team: 1201, Total Games Played: 947
Team: 1212, Total Games Played: 837
Team: 1197, Total Games Played: 896
Team: 1140, Total Games Played: 965
Team: 1292, Total Games Played: 888
Team: 1162, Total Games Played: 831
Team: 1319, Total Games Played: 843
Team: 1239, Total Games Played: 891
Team: 1320, Total Games Played: 913
Team: 1371, Total Games Played: 946
Team: 1349, Total Games Played: 888
Team: 1222, Total Games Played: 930
Team: 1382, Total Games Played: 914
Team: 1383, Total Games Played: 898
Team: 1385, Total Games Played: 954
Team: 1390, Total Games Played: 932
Team: 1425, Total Games Played: 944
Team: 1435, Total Games Played: 961
Team: 1463, Total Games Played: 838
Team: 1441, Total Games Played: 854
Team: 1449, Total Games Played: 938
Team: 1123, Total Games Played: 906
Team: 1103, Total Games Played: 910
Team: 1129, Total Games Played: 907
Team: 1209, Total Games Played: 891
Team: 1156, Total Games Played: 900
Team: 1336, Total Games Played: 926
Team: 1174, Total Games Played: 913
Team: 1343, Total Games Played: 832
Team: 1232, Total Games Played: 913
Team: 1203, Total Games Played: 933
Team: 1110, Total Games Played: 910
Team: 1335, Total Games Played: 880
Team: 1283, Total Games Played: 952
Team: 1235, Total Games Played: 950
Team: 1166, Total Games Played: 957
Team: 1311, Total Games Played: 839
Team: 1256, Total Games Played: 925
Team: 1147, Total Games Played: 698
Team: 1250, Total Games Played: 898
Team: 1266, Total Games Played: 951
Team: 1452, Total Games Played: 945
Team: 1269, Total Games Played: 946
Team: 1208, Total Games Played: 954
Team: 1310, Total Games Played: 949
Team: 1329, Total Games Played: 941
Team: 1333, Total Games Played: 911
Team: 1345, Total Games Played: 966
Team: 1263, Total Games Played: 898
Team: 1352, Total Games Played: 925
Team: 1380, Total Games Played: 862
Team: 1446, Total Games Played: 48
Team: 1427, Total Games Played: 858
Team: 1113, Total Games Played: 937
Team: 1408, Total Games Played: 808
Team: 1410, Total Games Played: 831
Team: 1350, Total Games Played: 959
Team: 1450, Total Games Played: 913
Team: 1462, Total Games Played: 954
Team: 1131, Total Games Played: 945
Team: 1190, Total Games Played: 891
Team: 1168, Total Games Played: 891
Team: 1179, Total Games Played: 914
Team: 1304, Total Games Played: 953
Team: 1224, Total Games Played: 907
Team: 1356, Total Games Played: 953
Team: 1426, Total Games Played: 859
Team: 1215, Total Games Played: 147
Team: 1132, Total Games Played: 895
Team: 1217, Total Games Played: 828
Team: 1389, Total Games Played: 928
Team: 1395, Total Games Played: 943
Team: 1461, Total Games Played: 914
Team: 1279, Total Games Played: 927
Team: 1275, Total Games Played: 932
Team: 1293, Total Games Played: 886
Team: 1191, Total Games Played: 928
Team: 1299, Total Games Played: 870
Team: 1401, Total Games Played: 940
Team: 1175, Total Games Played: 890
Team: 1327, Total Games Played: 22
Team: 1207, Total Games Played: 923
Team: 1108, Total Games Played: 866
Team: 1182, Total Games Played: 924
Team: 1274, Total Games Played: 915
Team: 1362, Total Games Played: 867
Team: 1164, Total Games Played: 893
Team: 1118, Total Games Played: 27
Team: 1420, Total Games Played: 845
Team: 1457, Total Games Played: 801
Team: 1148, Total Games Played: 844
Team: 1372, Total Games Played: 795
Team: 1157, Total Games Played: 784
Team: 1421, Total Games Played: 799
Team: 1358, Total Games Played: 806
Team: 1460, Total Games Played: 827
Team: 1198, Total Games Played: 812
Team: 1291, Total Games Played: 815
Team: 1381, Total Games Played: 735
Team: 1251, Total Games Played: 755
Team: 1282, Total Games Played: 745
Team: 1169, Total Games Played: 724
Team: 1302, Total Games Played: 200
Team: 1454, Total Games Played: 737
Team: 1170, Total Games Played: 660
Team: 1138, Total Games Played: 728
Team: 1158, Total Games Played: 720
Team: 1422, Total Games Played: 719
Team: 1369, Total Games Played: 682
Team: 1404, Total Games Played: 643
Team: 1194, Total Games Played: 647
Team: 1407, Total Games Played: 639
Team: 1142, Total Games Played: 597
Team: 1214, Total Games Played: 627
Team: 1459, Total Games Played: 575
Team: 1240, Total Games Played: 568
Team: 1313, Total Games Played: 563
Team: 1115, Total Games Played: 520
Team: 1176, Total Games Played: 526
Team: 1346, Total Games Played: 522
Team: 1237, Total Games Played: 519
Team: 1340, Total Games Played: 497
Team: 1107, Total Games Played: 512
Team: 1357, Total Games Played: 500
Team: 1324, Total Games Played: 506
Team: 1189, Total Games Played: 481
Team: 1125, Total Games Played: 506
Team: 1105, Total Games Played: 447
Team: 1392, Total Games Played: 493
Team: 1219, Total Games Played: 466
Team: 1127, Total Games Played: 442
Team: 1289, Total Games Played: 48
Team: 1415, Total Games Played: 418
Team: 1236, Total Games Played: 400
Team: 1394, Total Games Played: 390
Team: 1205, Total Games Played: 405
Team: 1128, Total Games Played: 106
Team: 1252, Total Games Played: 401
Team: 1366, Total Games Played: 384
Team: 1294, Total Games Played: 336
Team: 1255, Total Games Played: 344
Team: 1430, Total Games Played: 325
Team: 1413, Total Games Played: 348
Team: 1355, Total Games Played: 327
Team: 1244, Total Games Played: 322
Team: 1295, Total Games Played: 308
Team: 1316, Total Games Played: 327
Team: 1445, Total Games Played: 107
Team: 1312, Total Games Played: 276
Team: 1146, Total Games Played: 267
Team: 1167, Total Games Played: 260
Team: 1300, Total Games Played: 252
Team: 1367, Total Games Played: 267
Team: 1342, Total Games Played: 260
Team: 1195, Total Games Played: 273
Team: 1188, Total Games Played: 207
Team: 1377, Total Games Played: 210
Team: 1315, Total Games Played: 217
Team: 1136, Total Games Played: 240
Team: 1370, Total Games Played: 222
Team: 1303, Total Games Played: 129
Team: 1297, Total Games Played: 113
Team: 1213, Total Games Played: 84
Team: 1262, Total Games Played: 83
Team: 1101, Total Games Played: 76
Team: 1230, Total Games Played: 64

**Q**: For each season, find the game with the highest score difference (winning score - losing score). This will require iterating over the rows of the DataFrame, keeping track of the highest score difference for each season, and updating it if a game with a higher score difference is found.

In [149]:
# Write your code here

# Initialize a dictionary to keep track of the highest score difference for each season
highest_score_difference_per_season = {}

# Iterate over the rows of the DataFrame
for index, row in df.iterrows():
    # Calculate the score difference for the current row
    score_difference = row['Wscore'] - row['Lscore']
    
    # Update the highest score difference for the current season if necessary
    if row['Season'] in highest_score_difference_per_season:
        if score_difference > highest_score_difference_per_season[row['Season']]['score_difference']:
            highest_score_difference_per_season[row['Season']] = {
                'game_index': index,
                'score_difference': score_difference
            }
    else:
        highest_score_difference_per_season[row['Season']] = {
            'game_index': index,
            'score_difference': score_difference
        }

# Print the result
for season, game_info in highest_score_difference_per_season.items():
    print(f"Season: {season}, Highest Score Difference: {game_info['score_difference']}")
    print(df.loc[game_info['game_index']])

Season: 1985, Highest Score Difference: 60
Season             1985
Daynum               33
Wteam              1361
Wscore              128
Lteam              1288
Lscore               68
Wloc                  H
Numot                 0
ScoreDifference      60
HighScoringGame     Yes
Name: 236, dtype: object
Season: 1986, Highest Score Difference: 84
Season             1986
Daynum               60
Wteam              1314
Wscore              129
Lteam              1264
Lscore               45
Wloc                  N
Numot                 0
ScoreDifference      84
HighScoringGame     Yes
Name: 4731, dtype: object
Season: 1987, Highest Score Difference: 73
Season             1987
Daynum               51
Wteam              1155
Wscore              112
Lteam              1118
Lscore               39
Wloc                  H
Numot                 0
ScoreDifference      73
HighScoringGame     Yes
Name: 8240, dtype: object
Season: 1988, Highest Score Difference: 68
Season             1988
Daynum               40
Wteam              1328
Wscore              152
Lteam              1147
Lscore               84
Wloc                  H
Numot                 0
ScoreDifference      68
HighScoringGame     Yes
Name: 12046, dtype: object
Season: 1989, Highest Score Difference: 70
Season             1989
Daynum               64
Wteam              1242
Wscore              115
Lteam              1135
Lscore               45
Wloc                  H
Numot                 0
ScoreDifference      70
HighScoringGame     Yes
Name: 16677, dtype: object
Season: 1990, Highest Score Difference: 76
Season             1990
Daynum               26
Wteam              1181
Wscore              130
Lteam              1217
Lscore               54
Wloc                  H
Numot                 0
ScoreDifference      76
HighScoringGame     Yes
Name: 19502, dtype: object
Season: 1991, Highest Score Difference: 68
Season             1991
Daynum               73
Wteam              1163
Wscore              115
Lteam              1148
Lscore               47
Wloc                  H
Numot                 0
ScoreDifference      68
HighScoringGame     Yes
Name: 25161, dtype: object
Season: 1992, Highest Score Difference: 82
Season             1992
Daynum               30
Wteam              1116
Wscore              128
Lteam              1126
Lscore               46
Wloc                  H
Numot                 0
ScoreDifference      82
HighScoringGame     Yes
Name: 27997, dtype: object
Season: 1993, Highest Score Difference: 81
Season             1993
Daynum               86
Wteam              1328
Wscore              146
Lteam              1197
Lscore               65
Wloc                  H
Numot                 0
ScoreDifference      81
HighScoringGame     Yes
Name: 33858, dtype: object
Season: 1994, Highest Score Difference: 69
Season             1994
Daynum               47
Wteam              1228
Wscore              121
Lteam              1152
Lscore               52
Wloc                  H
Numot                 0
ScoreDifference      69
HighScoringGame     Yes
Name: 36404, dtype: object
Season: 1995, Highest Score Difference: 74
Season             1995
Daynum               26
Wteam              1246
Wscore              124
Lteam              1404
Lscore               50
Wloc                  H
Numot                 0
ScoreDifference      74
HighScoringGame     Yes
Name: 39858, dtype: object
Season: 1996, Highest Score Difference: 91
Season             1996
Daynum               48
Wteam              1409
Wscore              141
Lteam              1341
Lscore               50
Wloc                  H
Numot                 0
ScoreDifference      91
HighScoringGame     Yes
Name: 44653, dtype: object
Season: 1997, Highest Score Difference: 80
Season             1997
Daynum               56
Wteam              1278
Wscore              114
Lteam              1106
Lscore               34
Wloc                  H
Numot                 0
ScoreDifference      80
HighScoringGame     Yes
Name: 49033, dtype: object
Season: 1998, Highest Score Difference: 66
Season             1998
Daynum               33
Wteam              1395
Wscore              153
Lteam              1410
Lscore               87
Wloc                  H
Numot                 0
ScoreDifference      66
HighScoringGame     Yes
Name: 52600, dtype: object
Season: 1999, Highest Score Difference: 75
Season             1999
Daynum               58
Wteam              1268
Wscore              132
Lteam              1317
Lscore               57
Wloc                  H
Numot                 0
ScoreDifference      75
HighScoringGame     Yes
Name: 57618, dtype: object
Season: 2000, Highest Score Difference: 75
Season             2000
Daynum               19
Wteam              1261
Wscore              112
Lteam              1212
Lscore               37
Wloc                  H
Numot                 0
ScoreDifference      75
HighScoringGame     Yes
Name: 60616, dtype: object
Season: 2001, Highest Score Difference: 75
Season             2001
Daynum               41
Wteam              1196
Wscore              125
Lteam              1197
Lscore               50
Wloc                  H
Numot                 0
ScoreDifference      75
HighScoringGame     Yes
Name: 65999, dtype: object
Season: 2002, Highest Score Difference: 59
Season             2002
Daynum               50
Wteam              1328
Wscore              109
Lteam              1183
Lscore               50
Wloc                  H
Numot                 0
ScoreDifference      59
HighScoringGame     Yes
Name: 70737, dtype: object
Season: 2003, Highest Score Difference: 72
Season             2003
Daynum               33
Wteam              1403
Wscore              107
Lteam              1311
Lscore               35
Wloc                  H
Numot                 0
ScoreDifference      72
HighScoringGame     Yes
Name: 74791, dtype: object
Season: 2004, Highest Score Difference: 70
Season             2004
Daynum               29
Wteam              1328
Wscore               94
Lteam              1115
Lscore               24
Wloc                  H
Numot                 0
ScoreDifference      70
HighScoringGame      No
Name: 79181, dtype: object
Season: 2005, Highest Score Difference: 64
Season             2005
Daynum               18
Wteam              1403
Wscore              119
Lteam              1421
Lscore               55
Wloc                  H
Numot                 0
ScoreDifference      64
HighScoringGame     Yes
Name: 83372, dtype: object
Season: 2006, Highest Score Difference: 72
Season             2006
Daynum               60
Wteam              1400
Wscore              110
Lteam              1341
Lscore               38
Wloc                  H
Numot                 0
ScoreDifference      72
HighScoringGame     Yes
Name: 89542, dtype: object
Season: 2007, Highest Score Difference: 74
Season             2007
Daynum               59
Wteam              1401
Wscore              101
Lteam              1212
Lscore               27
Wloc                  H
Numot                 0
ScoreDifference      74
HighScoringGame     Yes
Name: 94507, dtype: object
Season: 2008, Highest Score Difference: 70
Season             2008
Daynum                4
Wteam              1182
Wscore              129
Lteam              1224
Lscore               59
Wloc                  H
Numot                 0
ScoreDifference      70
HighScoringGame     Yes
Name: 97737, dtype: object
Season: 2009, Highest Score Difference: 68
Season             2009
Daynum               27
Wteam              1314
Wscore              116
Lteam              1421
Lscore               48
Wloc                  H
Numot                 0
ScoreDifference      68
HighScoringGame     Yes
Name: 103723, dtype: object
Season: 2010, Highest Score Difference: 75
Season             2010
Daynum               15
Wteam              1397
Wscore              124
Lteam              1421
Lscore               49
Wloc                  H
Numot                 0
ScoreDifference      75
HighScoringGame     Yes
Name: 108405, dtype: object
Season: 2011, Highest Score Difference: 69
Season             2011
Daynum               22
Wteam              1388
Wscore              121
Lteam              1152
Lscore               52
Wloc                  H
Numot                 0
ScoreDifference      69
HighScoringGame     Yes
Name: 114015, dtype: object
Season: 2012, Highest Score Difference: 62
Season             2012
Daynum               11
Wteam              1345
Wscore               96
Lteam              1296
Lscore               34
Wloc                  H
Numot                 0
ScoreDifference      62
HighScoringGame      No
Name: 118699, dtype: object
Season: 2013, Highest Score Difference: 58
Season             2013
Daynum                7
Wteam              1235
Wscore               98
Lteam              1105
Lscore               40
Wloc                  H
Numot                 0
ScoreDifference      58
HighScoringGame      No
Name: 124057, dtype: object
Season: 2014, Highest Score Difference: 74
Season             2014
Daynum               61
Wteam              1256
Wscore              126
Lteam              1255
Lscore               52
Wloc                  H
Numot                 0
ScoreDifference      74
HighScoringGame     Yes
Name: 131373, dtype: object
Season: 2015, Highest Score Difference: 69
Season             2015
Daynum               11
Wteam              1181
Wscore              113
Lteam              1342
Lscore               44
Wloc                  H
Numot                 0
ScoreDifference      69
HighScoringGame     Yes
Name: 134590, dtype: object
Season: 2016, Highest Score Difference: 73
Season             2016
Daynum               12
Wteam              1139
Wscore              144
Lteam              1154
Lscore               71
Wloc                  H
Numot                 0
ScoreDifference      73
HighScoringGame     Yes
Name: 140040, dtype: object

Remember, iterating over a DataFrame should generally be avoided if a vectorized operation can be used instead, as vectorized operations are usually much faster. However, these tasks are designed to give practice with DataFrame iteration for cases where it might be necessary.

Vectorized Operation Example: Create a new column 'HighScoringGame' in the DataFrame using a vectorized operation. This column should contain 'Yes' if the winning score is greater than 100 and 'No' otherwise. Use the np.where function from the numpy library for this task.

In [150]:
import numpy as np
df['HighScoringGame'] = np.where(df['Wscore'] > 100, 'Yes', 'No')

**Q**: Vectorized Operation: Calculate the total number of games played by each team, whether they won or lost. Instead of iterating over the DataFrame, use the value_counts() function on the winning team and losing team columns separately, and then add the two Series together.

In [151]:
# Write your code here

# Calculate the total number of games played by each team using vectorized operations
total_games_played = df['Wteam'].value_counts() + df['Lteam'].value_counts()

# Rename the axis to provide column headers
total_games_played = total_games_played.rename_axis('Team').reset_index(name='Total Games Played')

# Print the result
print(total_games_played)

     Team  Total Games Played
0    1101                  76
1    1102                 840
2    1103                 910
3    1104                 975
4    1105                 447
..    ...                 ...
359  1460                 827
360  1461                 914
361  1462                 954
362  1463                 838
363  1464                 856

[364 rows x 2 columns]

**Q**: For each season, find the game with the highest score difference (winning score - losing score). Instead of iterating over the DataFrame, create a new column 'ScoreDifference' using vectorized subtraction, then use the groupby() function and idxmax() function to find the game with the highest score difference for each season.

In [152]:
# Write your code here

# Create a new column 'ScoreDifference' using vectorized subtraction
df['ScoreDifference'] = df['Wscore'] - df['Lscore']

# Use groupby() and idxmax() to find the game with the highest score difference for each season
game_with_highest_difference_per_season = df.groupby('Season').apply(lambda x: x.loc[x['ScoreDifference'].idxmax()])

# Print the result
print(game_with_highest_difference_per_season[['Wteam', 'Lteam', 'Wscore', 'Lscore', 'ScoreDifference']])

        Wteam  Lteam  Wscore  Lscore  ScoreDifference
Season
1985     1361   1288     128      68               60
1986     1314   1264     129      45               84
1987     1155   1118     112      39               73
1988     1328   1147     152      84               68
1989     1242   1135     115      45               70
1990     1181   1217     130      54               76
1991     1163   1148     115      47               68
1992     1116   1126     128      46               82
1993     1328   1197     146      65               81
1994     1228   1152     121      52               69
1995     1246   1404     124      50               74
1996     1409   1341     141      50               91
1997     1278   1106     114      34               80
1998     1395   1410     153      87               66
1999     1268   1317     132      57               75
2000     1261   1212     112      37               75
2001     1196   1197     125      50               75
2002     1328   1183     109      50               59
2003     1403   1311     107      35               72
2004     1328   1115      94      24               70
2005     1403   1421     119      55               64
2006     1400   1341     110      38               72
2007     1401   1212     101      27               74
2008     1182   1224     129      59               70
2009     1314   1421     116      48               68
2010     1397   1421     124      49               75
2011     1388   1152     121      52               69
2012     1345   1296      96      34               62
2013     1235   1105      98      40               58
2014     1256   1255     126      52               74
2015     1181   1342     113      44               69
2016     1139   1154     144      71               73

C:\Users\Yusuf\AppData\Local\Temp\ipykernel_22324\2960445991.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  game_with_highest_difference_per_season = df.groupby('Season').apply(lambda x: x.loc[x['ScoreDifference'].idxmax()])

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [153]:
df[['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Notice that you can acheive the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [154]:
df.loc[:, ['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Note the difference is the return types when you use brackets and when you use double brackets.

In [155]:
type(df['Wscore'])

pandas.core.series.Series

In [156]:
type(df[['Wscore']])

pandas.core.frame.DataFrame

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [157]:
df[0:3]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference,HighScoringGame
0,1985,20,1228,81,1328,64,N,0,17,No
1,1985,25,1106,77,1354,70,H,0,7,No
2,1985,25,1112,63,1223,56,H,0,7,No

Here's an equivalent using iloc

In [158]:
df.iloc[0:3,:]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference,HighScoringGame
0,1985,20,1228,81,1328,64,N,0,17,No
1,1985,25,1106,77,1354,70,H,0,7,No
2,1985,25,1112,63,1223,56,H,0,7,No

# Data Cleaning

One of the big jobs of doing well in Kaggle competitions is that of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following **isnull** function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [159]:
df.isnull().sum()

Season             0
Daynum             0
Wteam              0
Wscore             0
Lteam              0
Lscore             0
Wloc               0
Numot              0
ScoreDifference    0
HighScoringGame    0
dtype: int64

If you do end up having missing values in your datasets, be sure to get familiar with these two functions. 
* **dropna()** - This function allows you to drop all(or some) of the rows that have missing values. 
* **fillna()** - This function allows you replace the rows that have missing values with the value that you pass in.

# Other Useful Functions

* **drop()** - This function removes the column or row that you pass in (You also have the specify the axis). 
* **agg()** - The aggregate function lets you compute summary statistics about each group
* **apply()** - Lets you apply a specific function to any/all elements in a Dataframe or Series
* **get_dummies()** - Helpful for turning categorical data into one hot vectors.
* **drop_duplicates()** - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library. 
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://drive.google.com/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/view
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y